body{
    color: black;
    background-color: lightpink
}
#logo img{
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
}
.secao{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
}